body {
    margin: 0;
    padding: 0;
}

.login-page {
    height: 100vh;
    background: url('/assets/login-illustration.svg') no-repeat center center;
    background-size: auto 120%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
        width: 129px;
    }

    .logo-container {
        position: absolute;
        top: 0;
        left: 0;
    }

    @media (max-width: 768px) {
        background: url('/assets/mobile2.svg') no-repeat center center;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    @media (min-width: 600px) and (max-width: 1024px) {
        background-image: url('/assets/tablet.svg');
        background-size: cover;
        background-position: center;
    }
}
