.container{
  display: flex;
  justify-content: space-between;
}

.custom-select{
  height: 40px;
}
.MuiPickersInputBase-root{
  height: 30px;
}

.custom-select {
  font-weight: 600;
  background: white;
  //border: 1px solid hsl(220, 20%, 25%);
  boxShadow: inset 0 1px 0 hsl(220, 20%, 35%), inset 0 -1px 0 1px hsl(220, 0%, 0%);
  height: 30px;
  &:hover{
    background: rgba(23, 207, 179, 0.08);
    font-weight: 600 !important;
  }
}

